<!DOCTYPE html>
<html ng-app="hospitracker">
  <head>
    <title>Hospital Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<div class="text-center" style="margin-bottom: 10px;">
			<img width="25%" src="/images/logo.png" />
		</div>
    <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<!--
      		<a class="navbar-brand" href="#/"><img height="28" src="/images/logo.png" alt="hospitracker" /></a>
					-->
				</div>
		    <div class="container">
	        <ul class="nav navbar-nav ">
	          <li role="presentation" ng-class="{active: isActive('landingpage')}"><a href="#/">Home</a></li>
	          <li role="presentation" ng-class="{active: isActive('rooms')}"><a href="#/rooms">Rooms</a></li>
	          <li role="presentation" ng-class="{active: isActive('beacons')}"><a href="#/beacons">Beacons</a></li>
	          <li role="presentation" ng-class="{active: isActive('users')}"><a href="#/users">Users</a></li>
	        </ul>
	      </div>
			</div>
    </nav>

    <div class="container" ng-view>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="/javascripts/hospitracker-app.js"></script>
  </body>
</html>
