body {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

table.table tr span.glyphicon {
	visibility: hidden;
}

table.table tr:hover span.glyphicon {
	visibility: visible;
}

table.table span.glyphicon:hover {
	cursor: pointer;
}

td.pointer {
	cursor: pointer;
}
